# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencias y Compilación
node_modules
dist
dist-ssr
*.local

# PROTECCIÓN PARA AI STUDIO
# Esto evita que AI Studio borre tus workflows al sincronizar
!.github/workflows/node.js.yml
.github/

# Archivos del Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.github/